#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 4rem;
}

.link-list a {
  display: block;
  font-size: .8em;
  font-weight: bold;
  margin-bottom: .5em;
  text-transform: uppercase;
}

.link-list a:hover {
  text-decoration: underline;
}

.marg-bot {
  margin-bottom: 1em;
}

.pos-abs-top {
  font-size: .8em;
  position: absolute;
  top: -20px;
}

.pos-rel-top {
  font-size: .8em;
  margin-bottom: 30px;
  position: relative;
}

.top-sticky {
  background-color: var(--main-background-col);
  position: sticky;
  top: 0;
  z-index: 1;
}
