:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-background-col: #fff;
  --main-contrast-blue: #272890;
  --main-contrast-yellow: #ffa500;
  --main-text-col: #555;
  --main-text-light-col: #aaa;
  --main-text-warning: red;
}

body {
  color: var(--main-text-col);
  font-size: 1.4em;
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--main-contrast-blue);
  font-weight: bold;
}

button {
  border: 2px solid var(--main-contrast-blue);
  border-radius: .5em;
  color: var(--main-contrast-blue);
  font-size: .8em;
  margin: .1em;
  padding: .25em .5em;
}

button:not([disabled]):hover {
  background-color: var(--main-text-light-col);
  border: 2px solid var(--main-contrast-yellow);
  color: var(--main-contrast-yellow);
  cursor: pointer;
}

button:disabled {
  border: 2px solid var(--main-text-light-col);
  color: var(--main-text-light-col);
}

button.button-text {
  border: none;
  background-color: unset;
}

button.button-text:hover {
  border: none;
  background-color: unset;
  color: var(--main-contrast-blue);
  font-weight: bolder;
  text-decoration: underline;
}

h1 {
  font-size: 1.1em;
  margin-bottom: 2em;
  text-transform: uppercase;
}

h2 {
  border-top: 1px solid var(--main-text-col);
  display: inline-block;
  font-size: .9em;
  margin-bottom: 1.5em;
  padding-top: .5em;
}

hr {
  float: left;
  width: 50%;
}

hr + * {
  clear: both;
}
